.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: indigo;
}

.messages {

}

.messages .message {
    padding: 10px;
    color: white;
}